.root__navbar-main{
    height: 8vh;
    // overflow-x: hidden;
display: flex;
// position: fixed;
// top: 0px;
    align-items: center;
    padding: 8px;
    background-color: var(--black-color);
    img{
        user-select: none;
        object-fit: contain;
        max-height: 30px;
    }
    :nth-child(n){
        // color: black;
        margin: 1rem;
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    

    .links{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
    }
}

.Menu{
    background-color: var(--white-color);
}
.dropdownbox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    right: 1px;
    background-color:var(--white-color);
   
    border-radius:4px ;
    padding: 1rem;
    li
    {
        color:var(--black-color) ;
        list-style-type: none; /* Remove bullets */
        
    }

}