* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  

}

input:focus, textarea:focus, select:focus{
  outline: none;
} 
::-webkit-scrollbar {
  display: none;
}
:root{
  --primary-color: rgb(237, 242, 248);
  --secondary-color: rgb(211, 211, 211);
  --black-color: rgb(3, 3, 3);
  --background-color: rgb(55, 55, 55);
  --white-color:rgb(240, 240, 240);
  --blue-color:#5783EE;
}